<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
	<form action="/addPcbBomInfo"></form> 
</div>



	<div style = "border:3px solid #000 ;width:140px">
	<form action = "/addPcbBomInfo" method="post">
	
	<input id = "bomid"  name = "bomid" placeholder = "请输入板子编号" style= "width:120px" >
	<input id = "bomname"  name = "bomname"   placeholder = "请输入板子名称"style= "width:120px;" >
	<input id = "bomquantity"  name = "bomquantity"   placeholder = "请输入板子数量/数字"style= "width:120px;" >
	<input type = "submit" name = "addmaterielgoodsinfo" value = "添加电路板信息">
	</form>
	</div>

<div>
	<table border="1" style= "width:800px;table-layout:fixed" method = "post">
	<tr style="width:800px;text-align: center;">
	<td style = "width:100px;">板子编号</td>
	<td style = "width:100px;">板子名称</td>
	<td style = "width:100px;">板子数量</td>
	<td style = "width:100px;">Action</td>
	<td style = "width:100px;">Action2</td>
	</tr>
	</table>
	<!-- 
	tr th:each="mgilist,mgilistStat:${mgilist}">	
	<form th:id = "${mgilistStat.index}"action = "/UpdateMaterielGoodsNum">
	<td th:text="${mgilist.id}"></td>
	<td th:text="${mgilist.comment}"></td>
	<td th:text="${mgilist.description}"></td>
	<td th:text="${mgilist.designator}"></td>
	<td th:text="${mgilist.footprint}"></td>
	<td><input type = "text" value = ""></td>
	<td th:text="${mgilist.quantity}"></td>
	
	<td><input type = "submit" value = "提交"></td>
	</form>
	</tr>
	 -->	
	
	<form action="/PcbBomInfoDetail" th:each="bomlist,bomlistStat:${bomlist}" th:id ="${bomlistStat.index}+1" method="post" >
		<table border="1" th:name="'name'+${bomlistStat.index}+1"  style= "width:800px;table-layout:fixed;">

			<tr style="width:800px;text-align: center;">
				<td style = "width:100px"> <input name = "bomid" th:value="${bomlist.bomid}" style= "width:150px" >  </td>
				<td style = "width:100px"> <input name = "bomname" th:value="${bomlist.bomname}" style= "width:150px" > </td>
				<td style = "width:100px"> <input name = "quantity" th:value="${bomlist.quantity}" readonly="true" style= "width:150px;" > </td>
				
				<td style = "width:100px"><input name = "submit" type="submit" value = "查询元器件" style = "width:150px;"></td>
				<td style = "width:100px"><input name = "submit" type="submit" value = "删除主板信息" style = "width:150px;"></td>
				
			</tr>
		</table>
		
	</form>

</div>
</body>
</html>