<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3 th:each="singlebominfo,singlebominfoStat:${singlebominfo}" th:text="${singlebominfo.bomname}+'所需要元器件及数量'"></h3>
<div>
	<table border="1" style= "width:800px;table-layout:fixed">
	<tr style="width:800px;text-align: center;">
	<td style = "width:100px;">id</td>
	<td style = "width:100px;">comment</td>
	<td style = "width:100px;">Description</td>
	<td style = "width:100px;">Designator</td>
	<td style = "width:100px;">Footprint</td>
	<td style = "width:100px;">updatenum</td>
	<td style = "width:100px;">Quantity</td>
	<td style = "width:100px;">Action</td>
	</tr>
	</table>
	<!-- 
	tr th:each="mgilist,mgilistStat:${mgilist}">	
	<form th:id = "${mgilistStat.index}"action = "/UpdateMaterielGoodsNum">
	<td th:text="${mgilist.id}"></td>
	<td th:text="${mgilist.comment}"></td>
	<td th:text="${mgilist.description}"></td>
	<td th:text="${mgilist.designator}"></td>
	<td th:text="${mgilist.footprint}"></td>
	<td><input type = "text" value = ""></td>
	<td th:text="${mgilist.quantity}"></td>
	
	<td><input type = "submit" value = "提交"></td>
	</form>
	</tr>
	 -->	
	
	<form action="/UpdateBomDetailNum" th:each="bominfodetail,bominfodetailStat:${bominfodetail}" th:id ="${bominfodetailStat.index}+1" method="post" >
		<table border="1" th:name="'name'+${bominfodetailStat.index}+1"  style= "width:800px;table-layout:fixed;">

			<tr style="width:800px;text-align: center;">
				<td style = "width:100px"> <input name = "id" th:value="${bominfodetail.id}" style= "width:90px" >  </td>
				<td style = "width:100px"> <input name = "comment" th:value="${bominfodetail.comment}" style= "width:90px" > </td>
				<td style = "width:100px"> <input name = "description" th:value="${bominfodetail.description}" readonly="true" style= "width:90px;" > </td>
				<td style = "width:100px"> <input name = "designator" th:value="${bominfodetail.designator}" readonly="true" style= "width:90px" > </td>
				<td style = "width:100px"> <input name = "footprint" th:value="${bominfodetail.footprint}" readonly="true" style= "width:90px" ></td>
				<td style = "width:100px"><input type = "text" name = "updatebomdetailnum" style= "width:90px" ;></td>
				<td style = "width:100px"><input name = "quantity" th:value="${bominfodetail.quantity}" readonly="true" style = "width:90px;"></td>
				<td style = "width:100px"><input name = "submit" type="submit" style = "width:100px;"></td>
			</tr>
		</table>
		
	</form>

</div>
</body>
</html>